.Contador input{

    font-size: 1.4rem;
}
.Contador button{
    font-size: 1.4rem;
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
    color:#fff;
}